.container_12
{
}

div.name.grid_2 {
  font-family: mysecondfont;
  font-size: larger;
  margin-top: 70px;
  letter-spacing: 2px;
}
@font-face {
  font-family: myfirstfont;
  src: url(../fonts/puree____2.ttf);

}
@font-face {
  font-family: mysecondfont;
  src: url(../fonts/puree____2.ttf);
}
nav ul{
  margin-top: 80px;
text-align: right;
}
nav ul li{
  list-style: none;
  display: inline;
  margin-top: 20px;
font-size: 15px;
  }
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;

}
.fleet.clearfix {
  margin-bottom: 30px;
}
.ilogo {
  width:200px;
  height:150px;

}
.irider{
  border-radius: 40px;
  float: left;
  margin-right: 10px;
}
.italic{
  font-style: italic;
}
.iarticle{
  float: left;
  margin-right: 8px;
  width:20%;
  width:80px;
  height: 70px;

}
.article{
  overflow: hidden;
  text-align: end;
}
.article p ,h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.article span a:before{
  content: '>';
}
.article span a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-style: italic;
}
.banner{
  position:relative;
  left:0;
}
.fleet h2{
  text-align: center;
color: #2e2e2e;
font-weight: 100;
font-size: 60px;
font-family: 'Gotham-Light';
}
.fleet ul li{
  display: inline;
  list-style: none;
  list-style-type: disc;
 margin-right: 0;
 text-align: center;
 }
.fleet ul li a{
  text-decoration: none;
  font-family: 'Gotham-Black';
  font-weight: bolder;
  color: #2e2e2e
}
.item img{
  height:155px;
  width:300px;
}
.item.grid_4{
  margin-left: 0;
  margin-right: 0;
}
.ques span{
  background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 14px;
    background-position: -214px -39px;
    float: right;
}
.ques.active span{
      background-position: -163px -39px;
}
.ques ul li{
  margin:0;
  list-style: none;
  border-top: #dcdcdc solid 1px;
  padding: 13px 10px 10px 0px;
  overflow:hidden;
}
.ques ul li:first-child{
  border-top: 0;
  margin-top: 15px;
}
.ques ul li:last-child{
  border-bottom:  #dcdcdc solid 1px;
}
h6.grid_8{
  margin:0;
}
.ques ul li div.grid_12{
  cursor: pointer;
  margin:0;
}
div.faq.grid_12.clearfix h4{
  font-size: 30px;
    font-family: 'Gotham-Light';
    color: #2e2e2e;
    font-weight: 100;
    line-height: 30px;
}
footer.grid_12.clearfix {
      background-color: rgb(245, 245, 245);
}
.ques ul {
  padding: 0;
}
.ques ul li div.grid_12:hover div.open_para.grid_12 p {
  display: block;
}
.button.grid_4 a{
  text-decoration: none;
  font-family: 'Gotham-Black';
  font-weight: bold;
color: #2e2e2e;
margin-top: 4px;
font-size: 20px;
}

.button.grid_4,.footer_links.grid_2,.footer_social.grid_6 {
  margin:0;
}
.footer_social.grid_6 img {
  height:150px;
  float:right;
  margin-top: 20px;
}
.footer_links.grid_2 li {
  list-style: none;
  margin-left: 0;
margin-top: 10px;
}
ul.footer_nav {
  padding: 0;
  margin-top: 15px;
}
.grid_12.clearfix{
  background-color: white;
  margin: 0;
}
.grid_12.clearfix span {
  font-size: large;



}
ul.footer_nav li a{
  color: black;
  font-size: bold;
  text-decoration: none;
}
.grid_12,.bbikes.grid_4{
  margin: 0;
}
.logo.grid_3{
  margin: 0;
}
.main.grid_12 {
  text-align: center;
}
.bbikes.grid_4 img {
  width: 300px;
  height: 300px;
}
.main.grid_12  h3
{
  margin-bottom: 0;
}
.bbikes.grid_4.alpha{
  margin-right: 20px;
}
.bbikes.grid_4.omega {
  margin-left: 20px;
}
.banner_content{
  position:relative;
  top: -500px;
  left: 50px;
  color: white;
    width: 400px;
}
.mainimage.grid_12{
  position:relative;
  height: 650px;
  }
.banner_content big small {
  line-height: 55px;
margin: 0;
padding: 0
}
big {
  font-size: 60px;
}
small {
  font-size: 40px;
}
.banner_content h6 {
  border-bottom: #ffffff solid 1px;
  opacity: 1;
width: 178px;
}
.banner_content a{
  color: white;
  text-decoration: none;
}
.grid_4 p {
  font-family: sans-serif;
}
ul.footer_nav span {
  border-bottom: black solid 1px;
}
div.header_grid.grid_12 {
  background-color: #f5f5f5;
  width:100%
}
